
.HeaderContainer,
    .links
{
    display: flex;
    width: 100%;
    /* height: 5%; */
  
  
}
.Search{
    width: 270%;
    height: 70%;
    margin-top: 8%;
    margin-left: 120%;
    border-style: groove;
    border-radius: 15px;
    border-color: black;
    
}

.Marquee{
   
 
    border-radius: 10px ;
    font-size: 1cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: black;
    height: 50px;
    
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient( to bottom ,#FFD36E, #FFFBEB);
}

.Search:hover{
    opacity: 70%;
    border-color: gray;

}
.imgDiv{
    background-color: #0061A8;
}
.img{
    margin-top: 10%;
    margin-left: 10%;
    width: 250px; 
    }
.icons{
   display: flex;
   margin-left: 50%;
}
.icon{
margin: 25px;
  
}
 .slides{
    width: 100%;
   
}
.slide{
    width: 800px;
    height: 300px;
    margin-left: 350px;
    margin-bottom: 300px;
} 
.link{
   margin-left: 70%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: larger;
   text-decoration: none;
   color: #0061A8;
}
.link:hover{
    text-decoration: none;
}
.Categories{
    margin-top: 7%;
    width: 100%;
    display: flex;
    text-align: center;
  
    /* margin-left: -5%; */
}

/* .Category1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10%;
    
}
.Category2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10%;
   
}
.Category3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10%;
  
    
}
.Category4{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10%;
  

}
.Category5{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10%;
} */

.Category{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10%;
    transition: transform 0.7s;
  
}

.Category:hover{
    transform : scale(1.15);

}
p{
    color: #B24406;
}
.footer{
    display: flex;
    margin-top: 10%;
    height: 15%;
    width: 98%;
    margin-left: 1%;
    background-color: #eee;
    border-radius: 10px;
}
.col1{
    width: 30%;
}
.linkFooter{
   font-family: Arial, Helvetica, sans-serif;
   font-size: .4cm;
   text-decoration: none;
   color: #0061A8;
   margin-left: 7%;
}
.titleFooter{
    margin-left: 7%;
    margin-top: 5%;
    font-weight: bolder; 
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.linkFooter:hover{
    opacity: 60%;
    text-decoration: none;
}
.SM{
  display: flex;
  margin-left:10%;
  margin-top: 10%;
}
.linkSM{
  margin-left: 25%;
}
.Contact{
  margin-left: 220px;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 5%;
}
.Pay{
  display: flex;
  width: 50%;
  height: 20%;
 /* background-color: rgb(198, 241, 255); */
 margin-right: 10%;
}
.payment{
  margin-left: 40%;
}
.c{
  margin-top: 15%;
}
.col2{
  margin-left: 5%;
  margin-right: 5%;
  width: 10%;
  margin-top:1%;
 
}
/* skirt------------------------ */
.Skirts{
   
    display: flex;
    margin-top: 20px;
   /* background-color: #eee; */
   
}
.item{
    width: 23.5%;
    height: 510px;
    margin-left: 7%;
    box-shadow: 7px 10px 20px 8px #eee;
    transition: transform 1s;
    border-radius: 20px;
    /* background-color: #0061A8; */
    /* margin-top: 2%; */
}
.item:hover{
    transform: scale(0.96);
}
/* space 100%
    4 divs
    marginl left 2% *3 = 6%
    100 - 6 = 94%
    94 / 4 =
*/
.descreption{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: .4cm;
    margin-left: 5%;
    margin-top: 10px;
}
:root{
    /* color type A */
    --line_color : #555555 ;
    --back_color : #FFECF6  ;

    /* color type B */
    /* --line_color : #1b1919 ;
    --back_color : #E9ECFF  ; */

    /* color type C */
    /* --line_color : #00135C ;
    --back_color : #DEFFFA  ; */
}
/* CSS */
.button-1 {
  background-color: #0061A8;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-top: -5px;
  outline: none;
  padding: 10px 16px ;
  margin-left: 70px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

img{
    border-radius: 20px;
}


.button-1:hover,
.button-1:focus {
  background-color: #61677A;
}

/* ------------------Women--------------------- */
.Container{
    display: flex;
    width: 90%;
    height: 50%;
    margin-left: 5%;
   /* background-color: #0061A8; */
    border-radius: 10px;
}
.size-type{
    /* background-color: coral; */
    width: 280px;
    height: 1550px;
    overflow-x:  visible;
    overflow-y: auto;
    background-color: #f4f6fb;
   
   
}
.dropTitle{
    color: #B24406;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 50px;
    
}
.dropTitle:hover{
   color: #B24406;
   opacity: 70%;
}
.type{
    height: 320px;
}
.size{
    height: 550px;
}
.price{
    height :530px;

}
.boys{
height: 300px;
}
.girls{
    height: 430px;
}
.type,
.girls,
.size,
.color,
.price,
.boys{
    width: 220px;
    background-color: white;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 25px;
    box-shadow: 2px 4px 8px rgba(0,0,0,.1);
}
.title{
    margin-left: 55px;
   font-weight: bold;

}
.Search2{
    width: 130px;
    height: 30px;
    border-radius: 20px;
    margin-left: 20px;
}
.link2{
    text-decoration: none;
    color: #0061A8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .4cm;
    margin-left: 20px;
}
.sizeBox{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px 25px;
    margin: 8px 0px 0px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #0061A8;
    }
    .buttonPrice{
        width: 120px;
        background-color: #eee; /* Green */
        border: none;
        color: white;
        padding: 15px 15px;
        border-radius: 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 0px 0px 50px;
        cursor: pointer;
        background-color: white;
        color: black;
        border: 2px solid black;
        margin-top: 15px;
        }
        .buttonPrice:hover{
            background-color: #E4F1FF;    
        }
    

    .sizeBox:hover{
        background-color: #E4F1FF;    
    }
    .Square{
        width: 35px;
        height: 30px;
        border-radius: 5px;
       margin-top: 10px;
        margin-left: 30px;
    }
    .color1{
        background-color: #B24406;
    }
    .color2{
        background-color: #0061A8
    }
    .color3{
        background-color: blueviolet
    }
    .color4{
        background-color: #4CAF50;
    }
    .color5{
        background-color: bisque;
    }
    .color6{
        background-color: black;
    }
    .color7{
        background-color: violet;
    }
    .color8{
        background-color: tan;
    }
    .color9{
        background-color: #61677A;
    }
    .color10{
        background-color: salmon;
    }
    .color11{
        background-color: seagreen;
    }
    .color12{
        background-color: peru;
    }
.new{
    font-size: 1cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    text-align: center;
}
.collections{
display: flex;
width: 60%;
margin-top: 5%;
margin-left: 200px;

}
.collection{
    margin-left: 5%;
    transition: transform 1.5s;

}
.collection:hover{
opacity: 50%;
transform: scale(1.05);

}
